<%- include('./partials/head.ejs') %>

<h1><%= squad.name %></h1>

<% squad.members.forEach(member => { %>

  <article>
    <h2><%= member.name %> <%= member.prefix %> <%= member.surname %></h2>
    <img src="<%= member.avatar != '' ? member.avatar :'/placeholder.jpg' %>" alt="De avatar van <%= member.name %>" />
    <a href="/member/?id=<%= member.id %>"></a>
  </article>

<% }) %>


  <article>
    <h2>Jouw kaartje hier?</h2>
    <img src="/placeholder.jpg" alt="Jouw avatar hier?" />
    <a href="/member/new?squad=<%= squad.id %>&"></a>
  </article>

<%- include('./partials/foot.ejs') %>