<%- include('./partials/head2.ejs') %>

    <%- include('./partials/nav2.ejs') %>



        <div class="wrapper">
            <div class="form">
                <dialog id="window">
                    <button id="exit"><i class='bx bx-x'></i></button>
                    <form action="/newnote" method="post">
                        <fieldset>
                            <h2 class="title-newnote"> Maak een nieuwe notitie</h2>
                            <!-- TITEL -->
                            <label for="titel">Titel</label>
                            <input name="titel" id="titel" type="text" placeholder="Titel notitie" required>

                            <!-- Notitie -->
                            <label for="beschrijving">Notitie</label>
                            <input type="text" id="beschrijving" name="beschrijving"
                                placeholder="Typ hier jouw notitie in" required>

                            <!-- Beschrijving -->
                            <label for="datum">Datum</label>
                            <input name="datum" id="datum" type="datetime-local" placeholder="datum" required>



                            <button class="note-button" type="submit">Versturen</button>
                        </fieldset>
                    </form>
                </dialog>
            </div>
        </div>

        <!-- =============== WHEN JS IS DISABLED =================== -->
        <noscript>
            <form action="/newnote" method="post">
                <fieldset id="fieldset2">
                    <h2 class="title-newnote"> Maak een nieuwe notitie</h2>
                    <!-- TITEL -->
                    <label for="titel">Titel</label>
                    <input name="titel" id="titel" type="text" placeholder="Titel notitie" required>

                    <!-- Notitie -->
                    <label for="beschrijving">Notitie</label>
                    <input type="text" id="beschrijving" name="beschrijving" placeholder="Typ hier jouw notitie in"
                        required>

                    <!-- Beschrijving -->
                    <label for="datum">Datum</label>
                    <input name="datum" id="datum" type="datetime-local" placeholder="datum" required>



                    <button class="note-button" type="submit">Versturen</button>
                </fieldset>
            </form>
        </noscript>
        <!-- ===================================================== -->

        <div class="article-container">

            <article>
                <div class="note-container">
                    <button id="show" class="plus"><i class="ri-add-line plus-icon"></i></button>
                    <h2 class="note-add">Nieuwe notitie</h2>
                </div>
            </article>

            <% notities.forEach(notitie=> { %>

                <article>
                    <h2 class="note-title">
                        <%= notitie.titel %>
                    </h2>
                    <p class="note-description">
                        <%= notitie.beschrijving %>
                    </p>

                    <div class="icons-note">
                        <p class="note-date">
                            <%= notitie.datum %>
                        </p>
                        <i class='bx bx-trash'></i>
                    </div>
                </article>

                <% }) %>
        </div>