<%- include('./partials/head.ejs') %>

	<fieldset>
		<legend>Maak een notitie</legend>
		<form action="/notities" method="post">
			<input type="hidden" name="id" id="id" value="<%= locals.id ?? '' %>">

			<label for="titel">titel:</label>
			<input type="text" name="titel" id="titel" placeholder="..." value="<%= locals.slug ?? '' %>" />

			<label for="datum">datum:</label>
			<input type="date" name="datum" id="datum" placeholder="..." value="<%= locals.name ?? '' %>" />

			<label for="notitie">notitie:</label>
			<textarea name="note" id="note" cols="30" rows="10" placeholder="..."><%= locals.bio ?? '' %></textarea>
			<input type="submit" value="Opslaan" />

		</form>
	</fieldset>

	<%- include('./partials/foot.ejs') %>