<%- include('./partials/head2.ejs') %>

    <%- include('./partials/nav2.ejs') %>

        <form action="/newnote" method="post">
            <fieldset>
                <legend>notities</legend>

                <!-- TITEL -->
                <label for="titel">titel</label>
                <input name="titel" id="titel" type="text" required>

                <!-- Notitie -->
                <label for="beschrijving">Notitie</label>
                <textarea id="beschrijving" name="beschrijving" placeholder="Vul hier jouw notitie in"
                    required></textarea>

                <!-- Beschrijving -->
                <label for="datum">datum</label>
                <input name="datum" id="datum" type="datetime-local" required>

                <button type="submit">Versturen</button>
            </fieldset>
        </form>




        <div class="article-container">

            <article>
                <div class="note-container">
                    <button class="plus"><i class="ri-add-line plus-icon"></i></button>
                    <h2 class="note-add">Nieuwe notitie</h2>
                </div>
            </article>

            <% notities.forEach(notitie=> { %>

                <article>
                    <h2 class="note-title">
                        <%= notitie.titel %>
                    </h2>
                    <p class="note-description">
                        <%= notitie.beschrijving %>
                    </p>

                    <p class="note-date">
                        <%= notitie.datum %>
                    </p>
                </article>

                <% }) %>
        </div>